<h1>Your Followed Animes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @follows.each do |follow| %>
        <tr>
          <td><%= follow.anime.title %></td>
          <td><%= follow.anime.release %></td>   
        </tr>
    <% end %>
  </tbody>
</table>

<br>
  <td><%= link_to 'Back', animes_path %></td>
<br>